<style>
    .center{
        position: relative;
        top: 20px;
        max-width: fit-content;
        margin: auto;
    }
</style>

<h1>Anmeldung#create</h1>
<p>Find me in app/views/anmeldung/create.html.erb</p>
