<style>
    .center{
        position: relative;
        top: 20px;
        max-width: fit-content;
        margin: auto;
    }
</style>

<h1 class="center playpen-sans-title" style="font-size: 80px">Anmeldung</h1>

<%= render partial: "anmeldung/form" %>
