



<div class="post-it-container text-center">
  <h1 class="fuzzy-bubbles-bold post-it-title-3">Verein</h1>
</div>
<br>


<div class="box-card">
  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit imperdiet, morbi venenatis dignissim nunc curae inceptos himenaeos, odio porta ac placerat lobortis facilisi facilisis. Risus interdum neque penatibus sagittis dis habitasse hac, quam ante sem varius pellentesque porttitor erat, viverra etiam nisl sollicitudin urna bibendum. Vehicula blandit vestibulum dictum cursus non fringilla placerat tempus cras dis, turpis convallis sociosqu arcu duis diam est et mollis orci, eros eget eleifend venenatis felis torquent volutpat auctor varius. Vivamus mollis ultrices eleifend mauris hendrerit taciti vel in rutrum tempus venenatis, non dignissim senectus nisl semper libero vulputate nullam montes euismod penatibus, suspendisse gravida et nascetur dictumst cubilia parturient arcu pulvinar himenaeos. Porttitor vehicula nunc penatibus elementum ut sodales etiam potenti nec lectus praesent, sem risus montes massa metus litora eleifend habitasse hendrerit. Tortor fusce cras rutrum conubia id cum egestas, ultricies enim purus sociis aenean rhoncus elementum vivamus, litora accumsan ridiculus libero bibendum gravida. Fringilla integer quis habitant cursus nisi dapibus netus ante pulvinar maecenas, ad lacus sociis class nunc vulputate vel eu dictum tempus bibendum, ligula etiam accumsan dignissim quisque penatibus enim fusce massa.</p>
</div>

<div class="box-card">
  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit imperdiet, morbi venenatis dignissim nunc curae inceptos himenaeos, odio porta ac placerat lobortis facilisi facilisis. Risus interdum neque penatibus sagittis dis habitasse hac, quam ante sem varius pellentesque porttitor erat, viverra etiam nisl sollicitudin urna bibendum. Vehicula blandit vestibulum dictum cursus non fringilla placerat tempus cras dis, turpis convallis sociosqu arcu duis diam est et mollis orci, eros eget eleifend venenatis felis torquent volutpat auctor varius. Vivamus mollis ultrices eleifend mauris hendrerit taciti vel in rutrum tempus venenatis, non dignissim senectus nisl semper libero vulputate nullam montes euismod penatibus, suspendisse gravida et nascetur dictumst cubilia parturient arcu pulvinar himenaeos. Porttitor vehicula nunc penatibus elementum ut sodales etiam potenti nec lectus praesent, sem risus montes massa metus litora eleifend habitasse hendrerit. Tortor fusce cras rutrum conubia id cum egestas, ultricies enim purus sociis aenean rhoncus elementum vivamus, litora accumsan ridiculus libero bibendum gravida. Fringilla integer quis habitant cursus nisi dapibus netus ante pulvinar maecenas, ad lacus sociis class nunc vulputate vel eu dictum tempus bibendum, ligula etiam accumsan dignissim quisque penatibus enim fusce massa.</p>
</div>

<div class="box-card">
  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit imperdiet, morbi venenatis dignissim nunc curae inceptos himenaeos, odio porta ac placerat lobortis facilisi facilisis. Risus interdum neque penatibus sagittis dis habitasse hac, quam ante sem varius pellentesque porttitor erat, viverra etiam nisl sollicitudin urna bibendum. Vehicula blandit vestibulum dictum cursus non fringilla placerat tempus cras dis, turpis convallis sociosqu arcu duis diam est et mollis orci, eros eget eleifend venenatis felis torquent volutpat auctor varius. Vivamus mollis ultrices eleifend mauris hendrerit taciti vel in rutrum tempus venenatis, non dignissim senectus nisl semper libero vulputate nullam montes euismod penatibus, suspendisse gravida et nascetur dictumst cubilia parturient arcu pulvinar himenaeos. Porttitor vehicula nunc penatibus elementum ut sodales etiam potenti nec lectus praesent, sem risus montes massa metus litora eleifend habitasse hendrerit. Tortor fusce cras rutrum conubia id cum egestas, ultricies enim purus sociis aenean rhoncus elementum vivamus, litora accumsan ridiculus libero bibendum gravida. Fringilla integer quis habitant cursus nisi dapibus netus ante pulvinar maecenas, ad lacus sociis class nunc vulputate vel eu dictum tempus bibendum, ligula etiam accumsan dignissim quisque penatibus enim fusce massa.</p>
</div>

<h1 class="dm-sans-title">Organigramm Pfadi Höfe</h1>

<div class="container m-0 w-75 justify-items-center">
  <%= raw File.read(Rails.root.join('app', 'assets', 'images', 'Organigramm.svg')) %>
</div>

<div class="post-it-container">
  <h1 class="fuzzy-bubbles-regular post-it-sponsor-3">Abteilungsleitung</h1>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-10">
      <% @leader = Leader.where(funktion: "Abteilungsleitung").first %>

      <%= render partial: "shared/contact_form", locals: { image: @leader.image,
                                                           name: "#{@leader.first_name} #{@leader.last_name} v/o #{@leader.pfadiname.capitalize}",
                                                           funktion: "#{@leader.funktion}",
                                                           email: "#{@leader.email}" } if @leader.present? %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-10">
      <% @leader = Leader.where(funktion: "Stv. Abteilungsleitung").first %>
      <%= render partial: "shared/contact_form", locals: { image: @leader.image,
                                                           name: "#{@leader.first_name} #{@leader.last_name} v/o #{@leader.pfadiname.capitalize}",
                                                           funktion: "#{@leader.funktion}",
                                                           email: "#{@leader.email}" } if @leader.present? %>
    </div>
  </div>
</div>
<br>
<br>


