



<div class="post-it-container text-center">
  <h1 class="fuzzy-bubbles-bold post-it-title-3" style="font-size: 100px">Verein</h1>
</div>
<br>
<br>


<div class="post-it-container">
  <h1 class="fuzzy-bubbles-regular post-it-sponsor-3">Abteilungsleitung</h1>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-10">
      <% @leader = Leader.where(funktion: "Abteilungsleitung").first %>

      <%= render partial: "shared/contact_form", locals: { image: @leader.image,
                                                           name: "#{@leader.first_name} #{@leader.last_name} v/o #{@leader.pfadiname.capitalize}",
                                                           funktion: "#{@leader.funktion}",
                                                           email: "#{@leader.email}" } if @leader.present? %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-10">
      <% @leader = Leader.where(funktion: "Stv. Abteilungsleitung").first %>
      <%= render partial: "shared/contact_form", locals: { image: @leader.image,
                                                           name: "#{@leader.first_name} #{@leader.last_name} v/o #{@leader.pfadiname.capitalize}",
                                                           funktion: "#{@leader.funktion}",
                                                           email: "#{@leader.email}" } if @leader.present? %>
    </div>
  </div>
</div>
<br>
<br>
<h1 class="dm-sans-title">Organigramm Pfadi Höfe</h1>

<div class="container" style="width: 80%; margin: 0 auto">
  <%= raw File.read(Rails.root.join('app', 'assets', 'images', 'Organigramm.svg')) %>
</div>

