<style>
    .center{
        position: relative;
        top: 20px;
        max-width: fit-content;
        margin: auto;
    }
</style>

<h1 class="center playpen-sans-title" style="font-size: 100px">Verein</h1>
<br>
<br>
<h1 class="dm-sans-title">Abteilungsleitung</h1>
<% @leiter = Leiter.where(funktion: "Abteilungsleitung").first %>

<%= render partial: "shared/contact_form", locals: { image: @leiter.image,
                                                     name: "#{@leiter.firstname} #{@leiter.lastname} v/o #{@leiter.pfadiname.capitalize}",
                                                     funktion: "#{@leiter.funktion}",
                                                     email: "#{@leiter.email}" } %>

<% @leiter = Leiter.where(funktion: "Stv. Abteilungsleitung").first %>
<%= render partial: "shared/contact_form", locals: { image: @leiter.image,
                                                     name: "#{@leiter.firstname} #{@leiter.lastname} v/o #{@leiter.pfadiname.capitalize}",
                                                     funktion: "#{@leiter.funktion}",
                                                     email: "#{@leiter.email}" } %>

