.event{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 4px;
  border-radius: 5px;
  color: white;
  margin: 5px;
}

.calendar-legend{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 4px;
  border-radius: 5px;
  color: white;
  margin: 2px;
  min-width: 100px;
  max-width: fit-content;
}

.simple-calendar{

  td{
    padding: 0 !important;
    border-left: none !important;
    border-right: none !important;
  }

  .day{
    height: 100px !important;
  }

  @media (max-width: 576px) {
    transform: scale(0.5);
    display: flex;
    flex-wrap: wrap;
  }

}
.event-header{
}


.event-single-day{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 4px;
  border-radius: 5px;
  color: white;
  margin: 5px;
}

.event-start{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 4px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.event-middle{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 4px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.event-end{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 4px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
