$btn-bg-color-default: #ffc8c8;
$btn-bg-color-danger: #ff9191;
$btn-bg-color-warning: #fffa7f;
$btn-bg-color-primary: #b2b2ff;
$btn-bg-color-success: #80ef80;
$btn-hover-bg-color: #ffffff;
$btn-border-color: black;
$btn-shadow-color: black;
$btn-text-color: black;
$btn-hover-text-color: black;

.navbar {
  .nav-link {
    font-optical-sizing: auto;
    font-style: normal;
    font-family: "DM Sans", sans-serif;
    color: $btn-text-color;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #FF6500;
    transition: all 0.25s ease-in-out;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.25rem 0.5vw;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 5px 5px 0 0 $btn-shadow-color;

    &:hover {
      box-shadow: 0 0 0 0 $btn-shadow-color;
      border-radius: 8px;
      border-width: 1px;
      border-color: $btn-border-color;
      background-color: #FF8A08;
    }

    &.active {
      background-color: #FFC100;
      color: black;
    }
  }
}

.dropdown-menu .dropdown-item:hover {
  background-color: red;
}

.dropdown-menu {
  background-color: #ae0000;
}
