$btn-bg-color-default: #ffc8c8;
$btn-bg-color-danger: #ff9191;
$btn-bg-color-warning: #fffa7f;
$btn-bg-color-primary: #b2b2ff;
$btn-bg-color-success: #80ef80;
$btn-hover-bg-color: #ffffff;
$btn-border-color: black;
$btn-shadow-color: black;
$btn-text-color: black;
$btn-hover-text-color: black;

.navbar {
  backdrop-filter: blur(4px);
  position: sticky;
  top: 0;
  margin-top: 0;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.5);
  flex-wrap: wrap;
  align-content: center;

  .nav-link {
    position: relative; /* Ensure pseudo-elements are positioned relative to this */
    margin-left: 5px;
    color: black;
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    padding: 2px;

    &:hover {
      color: black;
    }

    &:hover::after{
      transform: scaleX(1); /* Ensure the underline is fully visible */
      background-color: red;
      height: 3px; /* Keep the thickness consistent */
      transition: none; /* Disable animation for active state */
    }

    &:hover::before {
      transform: scaleX(1); /* Animate the underline */
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0; /* Position at the bottom of the nav link */
      left: 0;
      width: 100%;
      height: 3px;
      background-color: red;
      transform: scaleX(0); /* Start with no underline */
      transform-origin: center;
      transition: transform 0.2s ease-in-out;
    }

    &.active {
      color: black;

      &::before {
        transform: scaleX(1); /* Ensure the underline is fully visible */
        background-color: red;
        height: 3px; /* Keep the thickness consistent */
        transition: none; /* Disable animation for active state */
      }
    }
  }



}

.navbar-logo{
  width:30px;
  height: 24px;
  margin-right: 10px;
}

.navbar-brand{
  color: black;

  &:hover{
    color: black;
  }
}

.dropdown-menu .dropdown-item:hover {
  background-color: grey;
  color: black
}

.dropdown-menu {
  background-color: darkgrey;
  color: black
}

.navbar-nav .nav-link.active,.navbar-nav .nav-link.show {
  color: black;
}
