
<style>
    .center{
        position: relative;
        top: 20px;
        max-width: fit-content;
        margin: auto;
    }

    .hocks-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Adds space between items */
        margin-top: 50px;
        gap: 20px; /* Adds gap between hocks */
    }
</style>

<h1 class="center" style="font-size: 100px">Biber</h1>

<div class="hocks-container">
  <%= render partial: "home/hocks", locals: { hock: @closest_biber_hock } %>
</div>

<%= render partial: "shared/contact_form", locals: { image: "doit.jpeg",
                                                     name: "Yannick Homberger v/o Do-It",
                                                     funktion: "Stufenleiter Biber",
                                                     email: "doit@pfadi-hoefe.ch" } %>