<style>
    .center{
        position: relative;
        top: 20px;
        max-width: fit-content;
        margin: auto;
    }

    .hocks-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Adds space between items */
        gap: 20px; /* Adds gap between hocks */
    }
</style>

<h1 class="center" style="font-size: 100px">🦫 Biber 🦫</h1>

<div class="hocks-container">
  <%= render partial: "home/hocks", locals: { hock: @closest_biber_hock } %>
</div>

<% @leiter = Leiter.where(stufe: "Biber", funktion: "Stufenleitung").first %>

<%= render partial: "shared/contact_form", locals: { image: @leiter.image,
                                                     name: "#{@leiter.firstname} #{@leiter.lastname} v/o #{@leiter.pfadiname.capitalize}",
                                                     funktion: "#{@leiter.funktion} #{@leiter.stufe}",
                                                     email: "#{@leiter.email}" } %>

<% @leiters = Leiter.where(stufe: "Biber").where.not(funktion: "Stufenleitung") %>
<% @leiters.each do |t| %>
  <%= render partial: "shared/contact_form", locals: { image: t.image,
                                                       name: "#{t.firstname} #{t.lastname} v/o #{t.pfadiname.capitalize}",
                                                       funktion: "#{t.funktion} #{t.stufe}",
                                                       email: "#{t.email}" } %>
<% end %>