<style>
    .center{
        position: relative;
        top: 20px;
        max-width: fit-content;
        margin: auto;
    }
</style>

<h1 class="center" style="font-size: 100px">Wölfli</h1>

  <%= render partial: "home/hocks", locals: { hock: @closest_woelfli_hock } %>

<% @leader = Leader.where(stufe: "Wölfli", funktion: "Stufenleitung").first %>

<%= render partial: "shared/contact_form", locals: { image: @leader.image,
                                                     name: "#{@leader.first_name} #{@leader.last_name} v/o #{@leader.pfadiname.capitalize}",
                                                     funktion: "#{@leader.funktion} #{@leader.stufe}",
                                                     email: "#{@leader.email}" } %>

<% @leaders = Leader.where(stufe: "Wölfli").where.not(funktion: "Stufenleitung") %>
<% @leaders.each do |t| %>
  <%= render partial: "shared/contact_form", locals: { image: t.image,
                                                       name: "#{t.first_name} #{t.last_name} v/o #{t.pfadiname.capitalize}",
                                                       funktion: "#{t.funktion} #{t.stufe}",
                                                       email: "#{t.email}" } %>
<% end %>