<div class="article-header justify-content-center align-content-center" style="background-image: url('<%= url_for(article.image) %>');">
  <div class="header-content">
    <h1 class="header-title"> <%= article.title %></h1>
  </div>
</div>

<div class="article-content">
  <p> <%= article.content %></p>
</div>




