<% content_for :title, "Artikel bearbeiten" %>

<div class="container">
  <h1 class="dm-sans-title text-center">  Beitrag bearbeiten</h1>
</div>
<%= render "form", article: @article %>

<br>

<div>
  <%= link_to "Beitrag anzeigen", @article, class: "btn btn-custom-warning m-3"%> |
  <%= link_to "Zurück zu allen Beiträgen", articles_path, class: "btn btn-custom-primary m-3" %>
</div>
