<div class="container h-100 mx-auto">
  <div class="post-it-container text-center">
    <h1 class="fuzzy-bubbles-bold post-it-title-4">Beiträge</h1>
  </div>
  <div class="container text-center">
      <% if leader_signed_in? %>
        <%= link_to "Neuen Artikel erstellen", new_article_path, class: "btn btn-custom-success", style: "margin: 20px" %>
      <% end %>
    </div>
</div>

<div class="row">
  <% @articles.each do |article| %>
    <%= link_to article_path(article), style: "text-decoration: none" do %>
        <%= render partial: "home/articles", locals: { article: article } %>
    <% end %>
  <% end %>
</div>


