<% content_for :title, "New article" %>

<h1>New article</h1>

<%= render "form", article: @article %>

<br>

<div class="container justify-content-center text-center w-100">
  <%= link_to "Abbrechen", articles_path, class: "btn btn-custom-danger" %>
</div>
