<style>
  .container{
      width: 100%;
  }
</style>

<div class="container" style="display: flex; flex-wrap: wrap; margin-bottom: 20px">
  <div class="article" style="width: 80%; height: fit-content; align-items: center">
    <%= render @article %>
  </div>
</div>

<div>
  <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-primary" %> |
  <%= link_to "Back to articles", articles_path, class: "btn btn-warning" %>

  <%= button_to "Destroy this article", @article, method: :delete, class: "btn btn-danger" %>
</div>




