<h3 style="float: left; position: absolute">
  <span class="badge text-bg-<%= if camp.template == "Lager ausgeschrieben" then "success" else "danger" end %>">
    <%= camp.template %>
  </span>
</h3>
