<% content_for :title, "Editing camp" %>

<h1>Editing camp</h1>

<%= render "form", camp: @camp %>

<br>

<div>
  <%= link_to "Show this camp", @camp %> |
  <%= link_to "Back to camps", camps_path %>
</div>
