<h1>Alle Lager</h1>

<div id="camps">
    <p>
      <%= link_to "Pfingstlager", edit_camp_path(@pfila), class: "btn btn-custom-success" %>
    </p>
    <p>
      <%= link_to "Sommerlager", edit_camp_path(@sola), class: "btn btn-custom-danger" %>
    </p>
    <p>
      <%= link_to "Wochenlager", edit_camp_path(@wola), class: "btn btn-custom-primary" %>
    </p>
</div>

<%= link_to "Neues Lager erstellen", new_camp_path %>
