<h1>Alle Lager</h1>
<hr>
<br>
<div class="container">
  <% if @pfila.present? %>
    <%= render "camp", camp: @pfila , campy_path: pfila_path %>
  <% end %>

  <% if @sola.present? %>
    <%= render "camp", camp: @sola , campy_path: sola_path %>
  <% end %>

  <% if @wola.present? %>
    <%= render "camp", camp: @wola , campy_path: wola_path %>
  <% end %>
</div>

<% unless @wola.present? && @sola.present? && @pfila.present? %>
  <%= link_to "Neues Lager erstellen", new_camp_path, class: "btn btn-custom-danger"  %>
<% end %>
