<p style="color: green"><%= notice %></p>

<% content_for :title, "Camps" %>

<h1>Camps</h1>

<div id="camps">
  <% @camps.each do |camp| %>
    <%= render camp %>
    <p>
      <%= link_to "Show this camp", camp %>
    </p>
  <% end %>
</div>

<%= link_to "New camp", new_camp_path %>
