.center {
  top: 20px;
  min-width: 200px;
  max-width: 700px;
  margin: auto;
}

.hocks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Adds space between items */
  gap: 20px; /* Adds gap between hocks */
}

.hock {
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.hock-bubble {
  border-radius: 25px;
  padding: 20px;
  border: 3px solid black;

  &-red {
    @extend .hock-bubble;
    background-color: #ffb3b3;
  }

  &-green {
    @extend .hock-bubble;
    background-color: #8bffa0;
  }

  &-blue {
    @extend .hock-bubble;
    background-color: #b3ddff;
  }

  &-white {
    @extend .hock-bubble;
    background-color: white;
  }
}


.divider {
  font-size: 30px;
  display: flex;
  align-items: center;
}

.divider::before, .divider::after {
  flex: 1;
  content: '';
  padding: 3px;
  background-color: red;
  margin: 5px;
}

