

<% content_for :title, "Editing kleider" %>

<h1 style="text-align: center">Kleidungsstück bearbeiten</h1>

<%= render "form", kleider: @kleider%>

<br>

<div style="text-align: center">
  <%= link_to "Zurück zur Ansicht", kleiders_path, class: "btn btn-custom-primary"%>
</div>
