<% content_for :title, "New kleider" %>

<div class="dm-sans-title" , style="text-align: center">
  <h1>Neues Kleidungsstück</h1>
</div>
<%= render "form", kleider: @kleider %>

<br>

<div style="text-align: center">
  <%= link_to "Back to kleiders", kleiders_path, class: "btn btn-primary" %>
</div>
