<% content_for :title, "New kleider" %>

<div class="post-it-container post-it-4">
  <h1 class="post-it-title-4">Neues Kleidungsstück</h1>
</div>
  <%= render "form", kleider: @kleider %>

<br>

<div class="text-center">
  <%= link_to "Abbrechen", kleiders_path, class: "btn btn-custom-danger" %>
</div>
