<style>
    .hock {
        border: 3px solid #e4be1a;
        border-radius: 25px;
        padding: 10px;
        width: 50%; /* Adjust width so that multiple hocks fit horizontally */

        background-color: rgb(255, 255, 255);
    }
</style>

<div class="hocks-container">
  <div class="hock">
    <%= image_tag(image) %>
    <h1><%= name %></h1>
    <h3><%= funktion %></h3>
    <p><%= email %></p>
  </div>
</div>