<div class="card shadow-lg" style="margin: 2vw; border: 2.5px solid green">
  <%= image_tag url_for(image), class: "card-img-top" if image.attached? %>
  <div class="card-body">
    <h5 class="card-title" style="text-align: center; font-size: calc(20px + 0.5vw)"><%= name %></h5>
    <p class="card-text" style="text-align: center"><%= funktion %></p>
    <p class="card-text" style="text-align: center"><%= email %></p>
  </div>
</div>
