<div class="post-it-container text-center">
  <h1 class="fuzzy-bubbles-bold post-it-title-2" style="font-size: 100px">🗺️ Rover 🗺️</h1>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-10">
      <% @leader = Leader.where(stufe: "Rover", funktion: "Stufenleitung").first %>

      <%= render partial: "shared/contact_form", locals: { image: @leader.image,
                                                           name: "#{@leader.first_name} #{@leader.last_name} v/o #{@leader.pfadiname.capitalize}",
                                                           funktion: "#{@leader.funktion} #{@leader.stufe}",
                                                           email: "#{@leader.email}" } if @leader.present? %>
    </div>
    <div class="w-100"></div>
    <div class="col-lg-4 col-md-6 col-sm-10">
      <% @leaders = Leader.where(stufe: "Rover").where.not(funktion: "Stufenleitung") %>
      <% @leaders.each do |t| %>
        <%= render partial: "shared/contact_form", locals: { image: t.image,
                                                             name: "#{t.first_name} #{t.last_name} v/o #{t.pfadiname.capitalize}",
                                                             funktion: "#{t.funktion} #{t.stufe}",
                                                             email: "#{t.email}" } if t.present? %>
      <% end %>
    </div>
  </div>
</div>
