<style>
    .center{
        position: relative;
        top: 20px;
        max-width: fit-content;
        margin: auto;
    }
</style>

<h1 class="center" style="font-size: 100px">Rover</h1>

<% @leiter = Leiter.where(stufe: "Rover", funktion: "Stufenleitung").first %>

<%= render partial: "shared/contact_form", locals: { image: @leiter.image,
                                                     name: "#{@leiter.firstname} #{@leiter.lastname} v/o #{@leiter.pfadiname.capitalize}",
                                                     funktion: "#{@leiter.funktion} #{@leiter.stufe}",
                                                     email: "#{@leiter.email}" } %>