<h1 class="center leader-title mb-3 dm-sans-title" style="text-align: center">Passwort vergessen?</h1>

<%= form_for(resource, as: resource_name, url: leader_password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "leaders/shared/error_messages", resource: resource %>

  <!-- E-Mail -->
  <div class="center input-group mb-3 w-50">
    <span class="input-group-text">@</span>
    <div class="form-floating">
      <input name="leader[email]"
             id="leader_email"
             placeholder="E-Mail"
             autocomplete="email"
             type="email"
             aria-label="email"
             class="form-control">

      <label for="leader_email">E-Mail</label>
    </div>
  </div>
  <br>
  <div class="text-center">
    <%= f.submit "Wiederherstellungslink senden", class: "btn btn-custom-danger" %>
  </div>
<% end %>
