<style>
    .center{
        position: relative;
        top: 20px;
        max-width: fit-content;
        margin: auto;
    }

    .hocks-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;
        gap: 20px; /* Adds gap between hocks */
    }
</style>

<body style="background-color: beige">
<h1 class="center" style="font-size: 100px"> Pfadi Hoefe </h1>
<p class="center" style="font-size: 25px"> <i>Mit freud debii! - Mis bescht! - Allzeit bereit! - Zaeme wyter! - Bewusst handeln! </i> </p>

    <div class="hocks-container">
      <%= render partial: "home/hocks", locals: { hock: @closest_biber_hocks } %>
      <%= render partial: "home/hocks", locals: { hock: @closest_woelfli_hocks } %>
      <%= render partial: "home/hocks", locals: { hock: @closest_pfadi_hocks } %>
    </div>
</body>