<style>
    .center {
        position: relative;
        top: 20px;
        max-width: fit-content;
        margin: auto;
    }
</style>

<h1 class="center dm-sans-title" style="font-size: 100px">Pfadi</h1>

<div class="container" style="margin-top: 20px">
  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-8 col-sm-10 m-4 grow-xl hock-bubble-red shadow-lg">
      <h1 class="dm-sans-title stufen-titel-links">Nächster Höck</h1>
      <%= render partial: "home/hocks", locals: { hock: @closest_pfadi_hock } %>
    </div>
  </div>
</div>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-10">
      <% @leader = Leader.where(stufe: "Pfadi", funktion: "Stufenleitung").first %>

      <%= render partial: "shared/contact_form", locals: { image: @leader.image,
                                                           name: "#{@leader.first_name} #{@leader.last_name} v/o #{@leader.pfadiname.capitalize}",
                                                           funktion: "#{@leader.funktion} #{@leader.stufe}",
                                                           email: "#{@leader.email}" } if @leader.present? %>
    </div>
    <div class="w-100"></div>
    <div class="col-lg-4 col-md-6 col-sm-10">
      <% @leaders = Leader.where(stufe: "Pfadi").where.not(funktion: "Stufenleitung") %>
      <% @leaders.each do |t| %>
        <%= render partial: "shared/contact_form", locals: { image: t.image,
                                                             name: "#{t.first_name} #{t.last_name} v/o #{t.pfadiname.capitalize}",
                                                             funktion: "#{t.funktion} #{t.stufe}",
                                                             email: "#{t.email}" } if t.present? %>
        </div>
        </div>
      <% end %>
      </div>
