
<style>
    .center{
        position: relative;
        top: 20px;
        max-width: fit-content;
        margin: auto;
    }
</style>

<h1 class="center" style="font-size: 100px">Biber</h1>

<div class="hocks-container">
  <%= render partial: "home/hocks", locals: { hock: @closest_pfadi_hock } %>
</div>

<%= render partial: "shared/contact_form", locals: { image: "hibbeli.jpeg",
                                                     name: "Prisca Barothy v/o Hibbeli",
                                                     funktion: "Stufenleiterin Pfadi",
                                                     email: "hibbeli@pfadi-hoefe.ch" } %>