
<style>
  body{
      background-color: #ffc7a1;
  }

    .center{
        position: relative;
        top: 20px;
        max-width: fit-content;
        margin: auto;
    }
</style>

<h1 class="center" style="font-size: 75px"><strong>Pfadi</strong></h1>
<h5 class="center"> <i> Allzeit bereit! </i></h5>
