<%= notice %>

<div class="container h-100 m-3" style="max-width: 100vw">
  <div class="post-it-container">
    <h1 class="fuzzy-bubbles-bold m-5 post-it-title-5" style="font-size: calc(30px + 3vw)">Unsere Sponsoren</h1>
  </div>
  <div class="row justify-content-center">
    <% if @sponsors.any? %>
      <% @sponsors.each do |sponsor| %>
        <div class="col-lg-5 post-it-sponsor-3 m-3" style="max-width: fit-content">
          <%= render sponsor if present? %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="hock-bubble-white">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit diam quis iaculis consequat. Maecenas imperdiet porta sem. Ut tristique purus a commodo lacinia. Donec ex ipsum, dignissim sit amet imperdiet non, ullamcorper hendrerit ipsum. In euismod a dolor et molestie. Nullam sit amet quam at justo tristique tempor suscipit ut lacus. Morbi quis ante eu nibh maximus interdum et malesuada eros. Nulla sapien orci, dapibus non placerat dapibus, volutpat sed libero. Phasellus maximus aliquam velit et vehicula. Phasellus bibendum congue sem id euismod. Mauris eu tellus lacinia, vehicula enim nec, euismod urna. Etiam faucibus mauris nec tortor finibus, a faucibus mi bibendum. Nullam id cursus mi, non egestas eros. Vivamus fringilla, elit nec ultricies cursus, massa metus ornare magna, ac gravida nunc nunc id risus.

      Vivamus in aliquam enim. Quisque vel lectus nulla. Aliquam at bibendum metus. Praesent rutrum nunc id orci aliquet semper. Aliquam erat volutpat. Curabitur tellus ligula, tempus vel sodales sed, lacinia id quam. Nulla in congue elit. Nullam gravida luctus mi a ornare. Sed sollicitudin massa nec gravida vehicula. Proin molestie enim non ipsum rhoncus facilisis. Maecenas pharetra tellus velit, id dictum risus consequat eu. Integer id mauris vel urna tristique suscipit. Donec nec diam volutpat, ultricies mauris sagittis, egestas neque. Nulla facilisi.

    </p>
  </div>
</div>


<% if leader_signed_in? %>
    <div class="text-right m-5">
      <%= link_to "Neuer Sponsor", new_sponsor_path, class: "btn btn-custom-primary m-3" %>
      <%= link_to "Sponsoren bearbeiten", sponsors_show_all_path, class: "btn btn-custom-warning m-3" %>
    </div>
<% end %>
