<style>
  .bestellung-container{
      display: flex;
      flex-wrap: nowrap;
      margin: 0 auto;
  }
</style>

<body>
<div class="container" style="max-width: 100%">
    <div>
      <%= render partial: "bestellung/form" %>
    </div>
    <div>
      <%= render partial: "kleiders/shopping_list" %>
    </div>
</div>
<div style="text-align: center">
  <%= link_to "Zurück zum Kleiderkasten", kleiders_path, class: "btn btn-custom-warning", style: "margin: 0 auto; margin-bottom: 50px" %>
</div>

</body>





