<style>

</style>

<div class="post-it-container">
    <h1 class="fuzzy-bubbles-bold post-it-title-2">Log-In</h1>
</div>
<div class="login-container">
    <%= render "log_in/leader_form", leader: @leader %>
</div>
<%= link_to "Passwort vergessen?", forgot_password_path, class: "btn btn-custom-danger m-3" %>

