<%= form_with model: @parent, url: login_path do |form| %>
  <% unless @parent.nil? %>
    <% if @parent.errors.any? %>
      <div style="color: red">
        <% flash[:alert] = format_errors(@parent) %>
    <% end %>
  <% end %>

  <div class="container">
    <div class="hock shadow-lg">
      <h1 style="text-align: center">Eltern</h1>

      <!-- E-Mail -->
      <div class="center input-group mb-3 w-50">
        <span class="input-group-text">@</span>
        <div class="form-floating">
          <input name="parent[email]"
                 id="parent_email"
                 placeholder="Email"
                 type="text"
                 aria-label="email"
                 class="form-control">

          <label for="leiter_email">E-Mail</label>
        </div>
      </div>

      <!-- Passwort -->
      <div class="center input-group mb-3 w-50">
        <span class="input-group-text">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
            <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5"/>
            <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
          </svg>
        </span>
        <div class="form-floating">
          <input name="parent[password]"
                 id="parent_password"
                 placeholder="Passwort"
                 type="password"
                 aria-label="password"
                 class="form-control">

          <label for="parent_password">Passwort</label>
        </div>
      </div>

      <div class="center mb-3 mt-3">
        <%= form.submit "Sign In", class: "btn btn-success"%>
      </div>
    <%end%>
    </div>
  </div>
</div>