<style>
    .center{
        position: relative;
        top: 20px;
        max-width: fit-content;
        margin: auto;
    }
</style>

<h1 class="center">Leiter Log In</h1>
<p class="center"> Nur fur Leiter</p>
<div class="center">
  <%= render "form", leiter: @leiter %>
</div>
