<style>

    .login-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 30px
    }
</style>

<div class="login-container">
    <div class="card-group gap-4">
      <%= render "form", leiter: @leiter %>
      <%= render "parent_form", parent: @parent %>
    </div>
</div>