<style>
    .center{
        position: relative;
        top: 20px;
        max-width: fit-content;
        margin: auto;
    }
</style>

<h1>Pios#index</h1>
<p>Find me in app/views/pios/index.html.erb</p>
