.paper-background {
  background-image: url("lined-paper-2.png");
  background-color: white;
}

.post-it-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  flex-wrap: wrap;         /* Allow post-its to wrap to the next line */
  margin-top: 10%;
  margin-bottom: 5%;
  max-width: 1200px;
  text-align: center;
}

.post-it {
  @extend .paper-background;
  background-color: #ffffff; // Base white background
  border: 1.5px solid #e5e5e4;
  padding: 1vw;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  height: fit-content;
  border-radius: 5px;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 40%;
    background-image: url("example/handmade-paper.png");
    background-color: #fffd7a;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    z-index: 2;
    opacity: 0.9;
  }

  @for $i from 1 through 5 {
    &-title-#{$i} {
      @extend .post-it;
      min-width: 40vw;
      rotate: random(10) - 5deg;
    }
  }

  // Sponsor variation with dynamic rotation
  @for $i from 1 through 5 {
    &-sponsor-#{$i} {
      @extend .post-it;
      min-width: fit-content;
      rotate: random(10) - 5deg;
    }
  }
}
