<p>Hallo <%= @resource.pfadiname %>!</p>

<p>Jemand hat einen Link angefordert, um dein Pfadi-Passwort zu 채ndern. Du kannst dies 체ber den folgenden Link tun.</p>

<p><%= link_to 'Mein Passwort 채ndern', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Wenn du diese Anfrage nicht gestellt hast, ignoriere bitte diese E-Mail.</p>
<p>Dein Passwort wird erst ge채ndert, wenn du auf den oben stehenden Link zugreifst und ein neues erstellst.</p>