<p style="color: green"><%= notice %></p>

<% content_for :title, "Archives" %>

<h1>Archives</h1>

<div id="archives">
  <%= link_to "Neue Dateien hinzufügen", edit_archive_path(5), class: "btn btn-warning" %>
</div>

<div>
  <% if @archive.images.attached? %>
    <% @archive.images.each do |image| %>
      <%= image_tag(image, height: 300, width: 300) %>
    <% end %>
  <% else %>
    <p>No images attached</p>
  <% end %>
</div>