/* Universal box-sizing rule */
* {
  box-sizing: border-box;
}


/* Center container */
.center {
  position: relative;
  top: 20px;
  max-width: fit-content;
  min-width: 60vw;
  margin: 0 auto;
}

@media (max-width: 576px) { /* Mobile view adjustments */
  .center {
    top: 10px;
    max-width: 90%; /* Reduced width for mobile */
  }
}

.home-header {
  min-height: 100%;
  max-width: 100%;
  background-size: cover;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}

/* Hocks container home */
.hocks-container-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  gap: 20px;
  padding: 20px;
  width: 70%;
  border: 3px solid #dd1634;
  border-radius: 25px;
  background-color: #fff5ed;
}

@media (max-width: 768px) { /* Tablet view adjustments */
  .hocks-container-home {
    margin-left: 5vw; /* Reduced left margin */
    width: auto; /* Increased width for better spacing */
  }
}

@media (max-width: 576px) { /* Mobile view adjustments */
  .hocks-container-home {
    margin-left: 2vw; /* Further reduced left margin */
    width: auto; /* Full width for mobile */
  }
}

.news-container-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: 5vw;
  margin-bottom: 20px;
  gap: 20px;
  padding: 20px;
  width: 90%;
  border: 3px solid #1683dd;
  border-radius: 25px;
  background-color: #ebfaff;
}

@media (max-width: 768px) { /* Tablet view adjustments */
  .news-container-home {
    margin-left: 5vw; /* Reduced left margin */
    width: auto; /* Increased width for better spacing */
  }
}

@media (max-width: 576px) { /* Mobile view adjustments */
  .news-container-home {
    margin-left: 2vw; /* Further reduced left margin */
    width: auto; /* Full width for mobile */
  }
}

/* Slideshow container */
.slideshow-container {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100vh;
  object-fit: contain;
  z-index: 1;
  opacity: 1;
}

@media (max-width: 576px) { /* Mobile view adjustments */
  .slideshow-container {
    height: 100vh; /* Reduced height for mobile */
  }
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 4s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  /* Gradually fade in */
  75% {
    opacity: 1;
  }
  /* Hold opacity at 1 */
  100% {
    opacity: 0;
  }
  /* Gradually fade out */
}

/* Stufen titles */
.stufen-titel-links, .stufen-titel-rechts {
  font-size: calc(30px + 2vw);
}

.stufen-titel-links {
  padding-left: calc(0px + 3vw);
  margin-right: calc(0px + 2vw);
  white-space: nowrap;
}

.stufen-titel-rechts {
  padding-right: calc(0px + 1vw);
  margin-right: calc(0px + 2vw);
  margin-left: calc(0px + 2vw);
  white-space: nowrap;
}

.text {
  position: relative;
  z-index: 5;
  color: white;


  &-title {
    font-size: calc(30px + 3vw);
    margin: 0 20vw;
    text-align: center;
    white-space: nowrap;

  }

  &-description {
    font-size: calc(7px + 0.7vw);
    text-align: center;
    white-space: nowrap;
  }
}

/* Image */
.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 1;
}

@media (max-width: 576px) { /* Mobile view adjustments */
  .image {
    height: 100vh;
  }
}

.home-title-screen {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  z-index: 5;
}

.logo {
  min-width: 100px;
  max-width: 400px;
  max-height: 380px;
  margin: 0 auto;
  padding-top: 10vh;
  object-fit: contain;
  z-index: 2;
  opacity: 1;
}


.article {
  border: 3px solid #1ae4d3;
  border-radius: 25px;
  padding: 10px;
  margin: calc(1px + 0.4vw);
  background-color: rgb(255, 255, 255);
  white-space: wrap;
  height: fit-content;
}

.articles-home {
  display: flex;
  flex-wrap: nowrap;
  margin: 20px auto;
  width: 90%;
  gap: 3vw;

}

.articles-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #cbedff;
  margin: 5vh auto auto 5vh;
  width: 95%;
  z-index: -5;
  border: 4px solid royalblue;
  border-radius: 25px;
}

#article-banner-home {
  font-size: 7vw;
  border: 8px solid royalblue;
  border-radius: 25px;
  background-color: rgba(241, 246, 255, 0.98);
}

#hr-home {
  border: 10px solid seagreen;
  opacity: 1;
  border-radius: 25px;
  width: 95%;
  margin: 0 auto;
}