.paper-background {
  background-image: url("lined-paper-2.png");
  background-color: white;
}

.post-it-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  flex-wrap: wrap;         /* Allow post-its to wrap to the next line */
  margin-top: 60px;
  margin-bottom: 30px;
}

.post-it {
  @extend .paper-background;
  background-color: #ffffff; // Base white background
  border: 1.5px solid #e5e5e4;
  padding: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  width: fit-content;
  height: fit-content;
  text-align: center;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  transition: transform 0.2s; // Added transition for smooth rotation

  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 40px;
    background-image: url("handmade-paper.png");
    background-color: #ffffff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    z-index: 2;
    opacity: 0.9;
  }

  // Reset the rotation on hover
  &:hover {
    transform: scale(1.05); // Rotate back to 0 degrees and scale up slightly
  }

  // Variation for Titles
  // Title variation with dynamic rotation
  @for $i from 1 through 5 {
    &-title-#{$i} {
      @extend .post-it;
      min-width: 40vw;
      rotate: random(10) - 5deg;
    }
  }

  // Sponsor variation with dynamic rotation
  @for $i from 1 through 5 {
    &-sponsor-#{$i} {
      @extend .post-it;
      min-width: fit-content;
      rotate: random(10) - 5deg;
    }
  }
}