/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require dropzone/basic
 *= require dropzone/dropzone
 */

@import "bootstrap";
@import "font-awesome";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


//Sites
@import "sites/home";
@import "sites/hocks";
@import "sites/login";


//Abstract
@import "abstract/fonts";
@import "abstract/postit";
@import "abstract/actiontext";

//Elements
@import "elements/buttons";
@import "elements/navbar";

//Stufen
@import "sites/stufen/pfadi";
@import "sites/stufen/rover";
@import "sites/stufen/woelfli";
@import "sites/stufen/biber";
@import "sites/stufen/pios";


* {
  font-family: "DM Sans", sans-serif;
}

strem{
  font-weight: 800;
  font-style: italic;
}

strong{
  font-weight: 800;
}

a {
  color: red;
}

hr{
  color: red;
}



