/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "buttons";
@import "home";
@import "hocks";
@import "markdown";


//body{
//  background: linear-gradient(19deg, #E5DDC5 25%, transparent 26%, transparent 74%, #E5DDC5 75%);
//  background-size: 6em 6em;
//  background-color: #F1EEDC;
//  opacity: 1
//}




.h1 {
  white-space: pre-wrap;
}


.navbar {
  .nav-link {
    font-optical-sizing: auto;
    font-style: normal;
    font-family: "DM Sans", sans-serif;
    color: $btn-text-color;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #FF6500;
    transition: all 0.25s ease-in-out;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.25rem 0.5vw;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 5px 5px 0 0 $btn-shadow-color;

    &:hover {
      box-shadow: 0 0 0 0 $btn-shadow-color;
      border-radius: 8px;
      border-width: 1px;
      border-color: $btn-border-color;
      background-color: #FF8A08;
    }

    &.active {
    background-color: #FFC100;
    color: black;
    }
  }
}

.dropdown-menu .dropdown-item:hover {
  background-color: red;
}

.dropdown-menu {
  background-color: #ae0000;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.grow-xl {
  transition: all .2s ease-in-out;
}

.grow-xl:hover {
  transform: scale(1.2);
}

.shrink {
  transform: scale(0.8);
}

.preserve-breaks{
  white-space-collapse: preserve-breaks
}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}




