.center{
    top: 20px;
    min-width: 200px;
    max-width: 700px;
    margin: auto;
    text-align: center;
}

.hocks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Adds space between items */
    gap: 20px; /* Adds gap between hocks */
}

.hock {
    border: 3px solid #e4be1a;
    border-radius: 25px;
    padding: 10px;
    margin: 20px;
    background-color: white;
}

.hock-bubble{
    border-radius: 25px;
    padding: 10px;
    border: 3px solid black;

    &-red{
        @extend .hock-bubble;
        background-color: #ffb3b3;
    }
    &-green{
        @extend .hock-bubble;
        background-color: #b3ffc2;
    }
    &-blue{
        @extend .hock-bubble;
        background-color: #b3ddff;
    }
}

