<div class="hock">
  <h3 class="dm-sans-title"><%= hock.title %></h3>
  <div class="dm-sans-description">
    <%= hock.description if present? %>
  </div>
  <p class="dm-sans-description" style="float: left">
    <strong>Datum & Zeit: </strong> <%= hock.datetime.strftime("%d.%m.%Y // %H:%M") %></p>
  <p class="dm-sans-description"><strong>Leiter: </strong><%= hock.pfadiname_of_leader(hock.leader_id) %></p>
</div>
