<% content_for :title, "Editing hock" %>

<h1 class="center dm-sans-title" style="white-space: pre-wrap">[   Höck bearbeiten   ]</h1>

<%= render "form", hock: @hock %>

<br>
<hr>
<div style="text-align: center">
  <%= link_to "Höck anzeigen", @hock, class: "btn btn-warning" %> |
  <%= link_to "Zurück zur Ansicht", hocks_path, class: "btn btn-primary" %>
</div>
