<%= render "form", hock: @hock, title: "Höck bearbeiten" %>

<br>
<hr>
<div style="text-align: center">
  <%= link_to "Höck anzeigen", @hock, class: "btn btn-custom-warning" %> |
  <%= link_to "Zurück zur Ansicht", hocks_path, class: "btn btn-custom-primary" %>
</div>
