<div class="post-it-container">
  <h1 class="post-it-title-3">Höck bearbeiten</h1>
</div>

<%= render "form", hock: @hock, title: "Höck bearbeiten" %>

<div style="text-align: center">
  <%= link_to "Zurück zur Ansicht", hocks_path, class: "btn btn-custom-warning" %>
</div>
