<% content_for :title, "Editing hock" %>

<h1 class="center">Höck bearbeiten</h1>

<%= render "form", hock: @hock %>

<br>

<div>
  <%= link_to "Höck anzeigen", @hock %> |
  <%= link_to "Zurück zur Ansicht", hocks_path %>
</div>
