<h1 class="text-left">Höcks <%= link_to "Neuer Höck", new_hock_path, class: "btn btn-custom-success btn-lg", style: "float: right" %>
</h1>
<div class="separator--low-top mb-5"></div>

<div class="box-card">
  <h1>Biber</h1>
  <div class="separator--low-top mb-5"></div>
  <%= render partial: "display", locals: { hocks: @biber_hocks, stufe: "Biber" } %>
</div>

<div class="box-card">
  <h1>Wölfli</h1>
  <div class="separator--low-top mb-5"></div>
  <%= render partial: "display", locals: { hocks: @woelfli_hocks, stufe: "Wölfli" } %>
</div>

<div class="box-card">
  <h1>Pfadi</h1>
  <div class="separator--low-top mb-5"></div>
  <%= render partial: "display", locals: { hocks: @pfadi_hocks, stufe: "Pfadi" } %>
</div>



