<h1 class="dm-sans-title" style="font-size:calc(30px + 2vw);">Höcks</h1>

<br>
<%= link_to "Neuer Höck", new_hock_path, class: "btn btn-custom-success btn-lg", style: "margin: 10px; width: fit-content" %>
<br>


<div class="divider">Biber</div>
<%= render partial: "display", locals: { hocks: @biber_hocks, stufe: "Biber" } %>

<div class="divider">Wölfli</div>
<%= render partial: "display", locals: { hocks: @woelfli_hocks, stufe: "Wölfli" } %>

<div class="divider">Pfadi</div>
<%= render partial: "display", locals: { hocks: @pfadi_hocks, stufe: "Pfadi" } %>



