<style>

    .center{
        position: relative;
        top: 20px;
        max-width: fit-content;
        margin: auto;

    }

    .divider {
        font-size: 30px;
        display: flex;
        align-items: center;
    }

    .divider::before, .divider::after {
        flex: 1;
        content: '';
        padding: 3px;
        background-color: red;
        margin: 5px;
    }
</style>

<% content_for :title, "Höcks" %>

<h1 class="dm-sans-title" style="font-size:calc(30px + 2vw);">Höcks</h1>

<br>
<%= link_to "Neuer Höck", new_hock_path, class: "btn btn-custom-success btn-lg", style: "margin: 10px; width: fit-content" %>
<br>


<div class="divider">Biber</div>
<div class="container">
  <div class="row justify-content-center w-100">
    <div class="col-lg-3 col-md-5 col-sm-7">
      <%= render partial: "display", locals: { hocks: @biber_hocks, stufe: "Biber" } %>
    </div>
  </div>
</div>
<div class="divider">Wölfli</div>
<div class="container">
  <div class="row justify-content-center w-100">
    <div class="col-lg-3 col-md-5 col-sm-7">
      <%= render partial: "display", locals: { hocks: @woelfli_hocks, stufe: "Wölfli" } %>
    </div>
  </div>
</div>
<div class="divider">Pfadi</div>
<div class="container">
  <div class="row justify-content-center w-100">
    <div class="col-lg-3 col-md-5 col-sm-7">
      <%= render partial: "display", locals: { hocks: @pfadi_hocks, stufe: "Pfadi" } %>
    </div>
  </div>
</div>


