<style>
    .center{
        position: relative;
        top: 20px;
        min-width: 500px;
        max-width: 800px;
        margin: auto;

    }
</style>

<% content_for :title, "Neuen Höck erstellen" %>

<h1 class="center dm-sans-title" style="font-size: 30px; margin-bottom: 20px">Neuen Höck erstellen</h1>

<div class="center">
  <%= render "form", hock: @hock %>
</div>

<br>

<div class="center">
  <%= link_to "Zurück zur Ansicht", hocks_path, class: "btn btn-custom-primary" %>
</div>
