<div class="post-it-container">
  <h1 class="post-it-title-3">Neuen Höck erstellen</h1>
</div>

<div class="container">
  <%= render "form", hock: @hock %>
</div>
<div class="text-center">
  <%= link_to "Abbrechen", hocks_path, class: "btn btn-custom-danger" %>
</div>
