<style>
    .center{
        position: relative;
        top: 20px;
        max-width: fit-content;
        margin: auto;

    }
</style>

<% content_for :title, "Neuen Höck erstellen" %>

<h1 class="center" style="font-size: 30px">Neuen Höck erstellen</h1>

<%= render "form", hock: @hock %>

<br>

<div class="center">
  <%= link_to "Zurück zur Ansicht", hocks_path %>
</div>
